<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>JSONar</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<div class="content">
  <div class="content-left">
    Target JSON
    <textarea
      matInput
      placeholder="Enter JSON"
      [(ngModel)]="jsonTarget"
      (ngModelChange)="onJsonTargetChange()"
      class="input-textarea"
    ></textarea>
    <div class="json-valid-label">
      @if (validTargetJson && jsonTarget.length > 0) {
      <span class="valid-text">Valid JSON</span>
      } @else if( !validTargetJson && jsonTarget.length > 0){
      <span class="invalid-text">Invalid JSON</span>
      }
    </div>
  </div>
  <div class="content-right">
    Source JSON
    <textarea
      matInput
      placeholder="Enter JSON"
      [(ngModel)]="jsonSource"
      (ngModelChange)="onJsonSourceChange()"
      class="input-textarea"
    ></textarea>
    <div class="json-valid-label">
      @if (validSourceJson && jsonSource.length > 0) {
      <span class="valid-text">Valid JSON</span>
      } @else if( !validSourceJson && jsonSource.length > 0){
      <span class="invalid-text">Invalid JSON</span>
      }
    </div>
  </div>
</div>
<div class="map-content">
  <h3>Map Properties</h3>
  <div class="property-list">
    <table class="map-table">
      @for (item of flattenedProperties; track item.key; let i = $index) {
      <tr class="map-row">
        <td class="map-target-col">
          <span class="prop-title">{{ item.key }}: {{ item.value }} </span>
        </td>
        <td class="map-middle-col">
          <mat-icon>arrow_forward</mat-icon>
        </td>
        <td class="map-source-col">
          <select
            class="prop-select"
            [(ngModel)]="propertyMap[i].source"
            (change)="onPropertyChange($event, item)"
          >
            @for (prop of sourceProperties; track prop) {
            <option [value]="prop">{{ prop }}</option>
            }
          </select>
        </td>
      </tr>
      } @empty {
      <li>No properties found</li>
      }
    </table>
  </div>
  <div class="generate-buttons">
    <button
      class="gen-button"
      mat-raised-button
      color="primary"
      (click)="mapData()"
      [disabled]="!validTargetJson || !validSourceJson"
    >
      Auto-Map
    </button>
    <button
      class="gen-button"
      mat-raised-button
      color="primary"
      (click)="generateQuery()"
      [disabled]="!validTargetJson || !validSourceJson"
    >
      Generate JSONata Query
    </button>
  </div>
  @if (query.length > 0) {
  <div class="query-output">
    <h3>JSONata Query</h3>
    <textarea
      matInput
      placeholder="JSONata Query"
      [(ngModel)]="query"
      class="input-textarea"
    ></textarea>
  </div>
  }
</div>
